node_modules/
done
/.metadata/
Multiplayer Trivia Game/.project
Multiplayer Trivia Game/admin-service/.mvn/wrapper/maven-wrapper.jar
Multiplayer Trivia Game/admin-service/.mvn/wrapper/maven-wrapper.properties
Multiplayer Trivia Game/admin-service/mvnw
Multiplayer Trivia Game/admin-service/mvnw.cmd
Multiplayer Trivia Game/admin-service/.mvn/wrapper/maven-wrapper.jar
Multiplayer Trivia Game/api-gateway/.mvn/wrapper/maven-wrapper.jar
Multiplayer Trivia Game/api-gateway/.mvn/wrapper/maven-wrapper.properties
Multiplayer Trivia Game/api-gateway/mvnw
Multiplayer Trivia Game/api-gateway/mvnw.cmd
Multiplayer Trivia Game/authentication-service-main/.mvn/wrapper/maven-wrapper.jar
Multiplayer Trivia Game/authentication-service-main/.mvn/wrapper/maven-wrapper.properties
Multiplayer Trivia Game/authentication-service-main/mvnw
Multiplayer Trivia Game/authentication-service-main/mvnw.cmd
Multiplayer Trivia Game/eureka-server/.mvn/wrapper/maven-wrapper.jar
Multiplayer Trivia Game/eureka-server/.mvn/wrapper/maven-wrapper.properties
Multiplayer Trivia Game/eureka-server/mvnw
Multiplayer Trivia Game/eureka-server/mvnw.cmd
Multiplayer Trivia Game/gameplay-mechanics-service/.mvn/wrapper/maven-wrapper.jar
Multiplayer Trivia Game/gameplay-mechanics-service/.mvn/wrapper/maven-wrapper.properties
Multiplayer Trivia Game/gameplay-mechanics-service/mvnw
Multiplayer Trivia Game/gameplay-mechanics-service/mvnw.cmd
Multiplayer Trivia Game/leaderboard-service/.mvn/wrapper/maven-wrapper.jar
Multiplayer Trivia Game/leaderboard-service/.mvn/wrapper/maven-wrapper.properties
Multiplayer Trivia Game/leaderboard-service/mvnw
Multiplayer Trivia Game/leaderboard-service/mvnw.cmd
Multiplayer Trivia Game/registration-service/.mvn/wrapper/maven-wrapper.jar
Multiplayer Trivia Game/registration-service/.mvn/wrapper/maven-wrapper.properties
Multiplayer Trivia Game/registration-service/mvnw
Multiplayer Trivia Game/registration-service/mvnw.cmd
Multiplayer Trivia Game/admin-service/.mvn/wrapper/maven-wrapper.jar
Multiplayer Trivia Game/leaderboard-service/.mvn/wrapper/maven-wrapper.jar
Multiplayer Trivia Game/admin-service/.classpath
Multiplayer Trivia Game/admin-service/.project
Multiplayer Trivia Game/admin-service/.settings/org.eclipse.core.resources.prefs
Multiplayer Trivia Game/admin-service/.settings/org.eclipse.jdt.apt.core.prefs
Multiplayer Trivia Game/admin-service/.settings/org.eclipse.jdt.core.prefs
Multiplayer Trivia Game/admin-service/.settings/org.eclipse.m2e.core.prefs
Multiplayer Trivia Game/admin-service/.settings/org.springframework.ide.eclipse.prefs
Multiplayer Trivia Game/admin-service/HELP.md
Multiplayer Trivia Game/admin-service/target/classes/com/hackathon/adminservice/AdminServiceApplication.class
Multiplayer Trivia Game/admin-service/target/classes/com/hackathon/adminservice/controller/AdminController.class
Multiplayer Trivia Game/admin-service/target/classes/com/hackathon/adminservice/dto/Question1.class
Multiplayer Trivia Game/admin-service/target/classes/com/hackathon/adminservice/dto/QuestionsRequest.class
Multiplayer Trivia Game/admin-service/target/classes/com/hackathon/adminservice/entity/Category.class
Multiplayer Trivia Game/admin-service/target/classes/com/hackathon/adminservice/entity/Level.class
Multiplayer Trivia Game/admin-service/target/classes/com/hackathon/adminservice/entity/Question.class
Multiplayer Trivia Game/admin-service/target/classes/com/hackathon/adminservice/repo/AdminRepository.class
Multiplayer Trivia Game/admin-service/target/classes/com/hackathon/adminservice/service/AdminService.class
Multiplayer Trivia Game/admin-service/target/classes/com/hackathon/adminservice/serviceimpl/AdminSeviceImpl.class
Multiplayer Trivia Game/admin-service/target/classes/META-INF/MANIFEST.MF
Multiplayer Trivia Game/admin-service/target/test-classes/com/hackathon/AdminServiceApplicationTests.class
Multiplayer Trivia Game/leaderboard-service/.classpath
Multiplayer Trivia Game/leaderboard-service/.factorypath
Multiplayer Trivia Game/leaderboard-service/.project
Multiplayer Trivia Game/leaderboard-service/.settings/org.eclipse.core.resources.prefs
Multiplayer Trivia Game/leaderboard-service/.settings/org.eclipse.jdt.apt.core.prefs
Multiplayer Trivia Game/leaderboard-service/.settings/org.eclipse.jdt.core.prefs
Multiplayer Trivia Game/leaderboard-service/.settings/org.eclipse.m2e.core.prefs
Multiplayer Trivia Game/leaderboard-service/.settings/org.springframework.ide.eclipse.prefs
Multiplayer Trivia Game/leaderboard-service/HELP.md
Multiplayer Trivia Game/leaderboard-service/target/classes/com/hackathon/leaderboardservice/controller/LeaderboardController.class
Multiplayer Trivia Game/leaderboard-service/target/classes/com/hackathon/leaderboardservice/exception/CustomRestExceptionHandler.class
Multiplayer Trivia Game/leaderboard-service/target/classes/com/hackathon/leaderboardservice/exception/GameplayMechanicsServiceException.class
Multiplayer Trivia Game/leaderboard-service/target/classes/com/hackathon/leaderboardservice/exception/NoGamePlayedException.class
Multiplayer Trivia Game/leaderboard-service/target/classes/com/hackathon/leaderboardservice/external/GameplayMechanicsService.class
Multiplayer Trivia Game/leaderboard-service/target/classes/com/hackathon/leaderboardservice/LeaderboardServiceApplication.class
Multiplayer Trivia Game/leaderboard-service/target/classes/com/hackathon/leaderboardservice/model/ErrorModel.class
Multiplayer Trivia Game/leaderboard-service/target/classes/com/hackathon/leaderboardservice/model/Leaderboard.class
Multiplayer Trivia Game/leaderboard-service/target/classes/com/hackathon/leaderboardservice/model/PlayersHistory.class
Multiplayer Trivia Game/leaderboard-service/target/classes/com/hackathon/leaderboardservice/model/RoomScore.class
Multiplayer Trivia Game/leaderboard-service/target/classes/com/hackathon/leaderboardservice/model/SinglePlayerScore.class
Multiplayer Trivia Game/leaderboard-service/target/classes/com/hackathon/leaderboardservice/service/LeaderboardService.class
Multiplayer Trivia Game/leaderboard-service/target/classes/META-INF/MANIFEST.MF
Multiplayer Trivia Game/leaderboard-service/target/test-classes/com/hackathon/leaderboard/service/LeaderboardServiceApplicationTests.class
Multiplayer Trivia Game/leaderboard-service/target/classes/META-INF/maven/com.hackathon/leaderboard-service/pom.xml
Multiplayer Trivia Game/leaderboard-service/target/classes/META-INF/maven/com.hackathon/leaderboard-service/pom.properties
Multiplayer Trivia Game/leaderboard-service/target/classes/application.yml
Multiplayer Trivia Game/admin-service/target/classes/META-INF/maven/com.hackathon/admin-service/pom.xml
Multiplayer Trivia Game/admin-service/target/classes/META-INF/maven/com.hackathon/admin-service/pom.properties
Multiplayer Trivia Game/admin-service/target/classes/application.yml
Multiplayer Trivia Game/admin-service/target/classes/application.properties
